<div class="container">

    <h3>Create New Job Post</h3>

    <div class="class">
        <div class="form-outline mb-1">
            <input type="text" id="jobNameInput" [(ngModel)]="jobObj.JobName"
                name="JobName" class="form-control" />
            <label class="form-label" for="jobNameInput">Job Title</label>
        </div>
    </div>

    <div class="row">
        <div class="form-outline mb-4">
            <div class="form-outline datepicker">
                <select class="form-control" [(ngModel)]="jobObj.Category" name="Category">
                    <option value="" selected>Select Job Category</option>
                    <option *ngFor="let category of categoryList" [value]="category.jobCategory">{{category}}</option>
                </select>
                <label for="categoryInput" class="form-label">Select Category</label>
            </div>
        </div>

        <div class="col-md-4 mb-1">
            <div class="form-outline datepicker">
                <select class="form-control" [(ngModel)]="jobObj.Company" name="Company">
                    <option value="" hidden="">Select Company</option>
                    <option *ngFor="let company of companyList" [value]="company.Id">{{company.Name}}</option>
                </select>
                <label for="exampleDatepicker1" class="form-label">Select Company</label>
            </div>
        </div>
    </div>

    <div class="form-outline mb-1">
        <textarea name="" class="form-control" rows="3"
            [(ngModel)]="jobObj.JobDescription" name="JobDescription"></textarea>
        <label class="form-label" for="form3Example1q">Job Description</label>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <button (click)="createJob()" class="btn btn-success btn-lg mb-1">Create Job</button>
        </div>
    </div>

</div>
