<div class="container-fluid body-background">
    <div class="header">
        <h1>Find your dream job now</h1>
    </div>
    <div class="Wrapper ">
        <div>
            <div class="logoContainer">
                <input type="text" placeholder="Enter job description" class="sugginput" id="input1">
                <div class="pipe1"></div>
                <select id="input3" class="sugginput">
                    <option value="" hidden="">Select Category</option>
                    <!-- Available Options -->
                    <option value="1">Front end</option>
                    <option value="2">Back end</option>
                    <option value="3">Full stack</option>
                    <option value="4">Database administrator</option>
                    <option value="5">DevOps</option>
                </select>

                <select id="input4" class="sugginput">
                    <option value="" hidden="">Select Company</option>
                    <option *ngFor="let company of companyList" [value]="company.Id">{{company.Name}}</option>
                </select>

                <input type="button" routerLink="/jobs" class="search" value="Search">
            </div>
        </div>
    </div>
</div>