<section class="h-100 h-custom" style="background-color: #8fc4b7;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
                <div class="card rounded-3">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration</h3>

                        <form class="px-md-2">

                            <div class="form-outline mb-1">
                                <input type="text" id="fullNameInput" [(ngModel)]="userObj.FullName"
                                    name="FullName" class="form-control" /> 
                                <label class="form-label" for="fullNameInput">Full name</label>
                            </div>

                            <div class="row">
                                <div class="col-md-4 mb-1">
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" class="form-control" [(ngModel)]="userObj.Login"
                                            name="Login" id="loginInput" />
                                        <label for="loginInput" class="form-label">Login</label>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-1">
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" class="form-control" [(ngModel)]="userObj.Password"
                                            name="Password" id="passwordInput" />
                                        <label for="passwordInput" class="form-label">password</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 mb-1">
                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <input type="text" class="form-control" [(ngModel)]="userObj.EmailAddress"
                                                name="EmailAddress" id="emailAddressInput" />
                                            <label for="emailAddressInput" class="form-label">Email</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-1">
                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <input type="text" class="form-control" [(ngModel)]="userObj.PhoneNumber"
                                                name="PhoneNumber" id="phoneNumberInput" />
                                            <label for="phoneNumberInput" class="form-label">Phone Number</label>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <div class="form-outline datepicker">
                                            <select class="form-control" [(ngModel)]="userObj.PrefferredLanguage" name="PrefferredLanguage">
                                                <option value="" selected>Select Prefferred Language</option>
                                                <option *ngFor="let language of languageList" [value]="language.LanguageID">{{language.Name}}</option>
                                            </select>
                                            <label class="form-label">Select Prefferred Language</label>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-12 text-center">
                                        <button (click)="register()"
                                            class="btn btn-success btn-lg mb-1">Register</button>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>