<div class="container-fluid body-background">
    <div class="container pt-5 ">
        <div class="row">
            <div class="col-8  job">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="row">
                                            <div class="col-12">
                                                <h6 style="margin-bottom: 0;">{{jobObj?.name}}
                                                </h6>
                                                <a>{{jobObj?.companyName}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <i class="fa fa-suitcase" aria-hidden="true"></i> {{jobObj?.description}}
                                    </div>
                                </div>
                                <hr>
                                <div class="row pt-1">
                                    <div class="col-7 text-end">
                                        <button  *ngIf="isLoggedIn" (click)="updateJob()" class="btn btn-outline-primary round-button mx-2"
                                            type="button">Update</button>
                                        <button  *ngIf="isLoggedIn" (click)="deleteJob()" class="btn btn-outline-primary round-button mx-2"
                                            type="button">Delete</button>
                                        <button  *ngIf="!isLoggedIn" routerLink="/login" class="btn btn-primary round-button" type="button">Login To
                                            change jobs</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>